@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

body {
  background-color: #dcf5ff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.container {
  margin: 50px;
}

// .container {
//   width: 30%;
//   background: white;
//   border-radius: 10px;

//   .inner {
//     background: #00b6ff;
//     padding: 1em;
//     border-radius: 10px;
//     width: 100%;
//     clip-path: circle(10% at 0% 0%);
//     transition: clip-path 0.5s ease-in-out;

//     h1 {
//       color: white;
//       margin: 0;
//     }

//     p {
//       color: white;
//       font-size: 0.9rem;
//     }
//   }

//   &:hover .inner {
//     clip-path: circle(100%);
//   }
// }

.inner {
  background: #00ffb3;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  clip-path: circle(10% at 90% 17%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    clip-path: circle(75%);
    background: #00b6ff;
  }

  &:hover span {
    color: rgba(255, 255, 255, 0);
  }

  h1 {
    color: white;
    margin: 0;
  }

  span {
    color: white;
    font-weight: bold;
    float: right;
    position: relative;
    margin-right: 4%;
    transition: color 0.5s;
  }

  p {
    color: white;
    font-size: 0.9rem;
  }
}

.cards {
  display: flex;
  position: relative;
  width: 800px;
  height: 240px;

  .card {
    width: 160px;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    color: white;
    box-shadow: -15px 0px 50px black;
    position: absolute;

    p {
      font-size: 1rem;
      font-weight: bold;
      span {
        color: rgb(138, 138, 138);
        margin: 0;
      }
    }

    span {
      display: block;
      margin-top: 50px;
    }

    &:first-child() {
      left: 0px;
      z-index: 0;
    }

    &:nth-child(2) {
      left: 120px;
      z-index: 1;
    }

    &:nth-child(3) {
      left: 240px;
      z-index: 2;
    }

    &:nth-child(4) {
      left: 360px;
      z-index: 3;
    }

    &:last-child {
      left: 480px;
      z-index: 4;
      animation: none;
    }

    &:last-child:hover {
      animation: none;
    }

    &:hover {
      animation: rotation 0.5s forwards linear;
    }
  }
}

@keyframes rotation {
  100% {
    transform: translateX(-50px) rotate(20deg);
  }
}

@keyframes reverteRotation {
  100% {
    transform: translateX(50px) rotate(-20deg);
  }
}

svg {
  width: 100px;
  height: 100px;
}

svg rect {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 100px;
  stroke: #00adff;
  stroke-dasharray: 100;
  stroke-dashoffset: 50%;
  animation: loadingAnimation 2s linear infinite;
}

@keyframes loadingAnimation {
  to {
    stroke-dashoffset: 250%;
  }
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/clock.png");
  background-size: cover;
  border: 4px solid #dcf5ff;
  box-shadow: 0 15px 15px rgba(59, 59, 59, 0.05), inset 0 15px 15px rgba(59, 59, 59, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.clock:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #091924;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}

.clock .min,
.mn {
  width: 190px;
  height: 190px;
}

.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  // align-items: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #000000;
  z-index: 7;
  border-radius: 6px 6px 0 0;
}

.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #160079;
  z-index: 8;
  border-radius: 6px 6px 0 0;
}

.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #2f00ff;
  z-index: 9;
  border-radius: 6px 6px 0 0;
}

.basketball-example {
  height: 400px;
  width: 500px;
  height: 200px;
  background-color: #1167b1;
  background-image: linear-gradient(to bottom right, #1167b1 , #7336c3 70%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;

  .text {
    font-weight: 800;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;

    h1 {
      font-size: 125px;
      margin: 0;
      padding: 0;
    }

    h2 {
      margin: 0;
    }
  }

  .o-basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .basketball-icon {
      width: 75px;
      height: 75px;
      background-color: #bf1253;
      border-radius: 50%;
      border: 10px solid #ab1b38;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
      animation: upDown 0.5s infinite;
    }
  
    .line {
      position: absolute;
      right: 0;
      top: 0;
      border-right: 10px solid #ab1b38;
      background-color: transparent;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    
    .middle {
      width: 300px;
      height: 300px;
      transform: translateX(-6%) translateY(-22%) rotate(-19deg)
    }
  
    .left {
      transform: translateX(15%) translateY(-82%) rotate(67deg);
    }
  
    .right {
      transform: translateX(54%) translateY(18%) rotate(-114deg);
    }

    .shadow {
      width: 70px;
      height: 20px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      // margin-top: 30px;
      filter: blur(10px);
    }
  }
}

@keyframes upDown {
  50% {
    transform: translateY(10px);
  }
}

